// --- Table Column CSS ---
.ant-table-thead > tr > th {
  color: #333;
  text-align: center;
  padding: 10px;
  background-color: #062b14;
}
.ant-table-thead > tr > th:nth-child(1), .ant-table-thead > tr > th:nth-child(2), .ant-table-thead > tr > th:nth-child(3), .ant-table-thead > tr > th:nth-child(4) {
    background-color: #6fab79;
    color: white;
    border-right: none;
    letter-spacing: 0.5px;
    text-align: center;
}

// --- Table Row CSS ---
.custom-table-row {
    color: black;
}

.custom-table-row td,
.custom-table-row th {
    background-color: rgb(235, 255, 235);
    color: black;
    border-bottom: 0.1px solid rgb(63, 63, 63);
    padding: 10px;
    text-align: center;
}

// --- Page CSS ---
.Branch_H {
  //   border: 0.1px solid black;
  padding: 0em 0em 0.8em 0em;
  font-size: 1.9em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #0a4621;
}
.Parent_Branch_Btn {
  // border: 0.1px solid black;
  padding: 1em 0em 4em 0em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.Branch_Btn {
  border: 0px solid transparent;
  padding: 0.1em 2em 0.2em 2em;
  letter-spacing: 1px;
  background-color: #0a4621;
  color: white;
  font-size: 1.1em;
  border-radius: 50px;
}
.Branch_Btn:hover {
  background-color: #062b14;
}
.Branch_Btn i {
  color: white;
  font-size: 0.93em;
  margin: 0em 0em 0em 1em;
}
